body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.bg-light {
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    border-radius: 10px;
}

.bg {
    background-color: hsl(0, 0%, 90%);
}

.bg-dark {
    background-color: hsl(0, 0%, 80%);
}

.text {
    color: hsl(0, 0%, 10%);
}

.text-white {
    color: hsl(0, 0%, 100%);
}

.text-muted {
    color: hsl(0, 0%, 25%);
}

.text-bold {
    font-weight: bolder;
}

header {
    height: 80px;
    width: 100%;
    background-color: hsl(266, 30%, 26%);

    display: grid;
    position: fixed;

    top: 0;

    grid-template-columns: 1fr 3fr 1fr;
    box-shadow: 0px 5px 0px hsl(0, 0%, 100%);
    margin-bottom: 5px;
}

header>*>* {
    margin: 0;
}

header img {
    height: 80px;
    align-self: center;
    margin-left: 20px;
}

#header-links {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    
    height: 100%;

    gap: 40px;

    list-style-type: none;
}

#header-links a{
    text-decoration: none;
}

header button {
    display: flex;

    padding: 10px 20px;
    border-radius: 10px;
    width: 100px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    align-self: center;
}

main{
    margin-top: 120px;
}

#front-image{
    height: 100%;
    width: 100%;

    position: fixed;

    top: 0px;

    z-index: -1;

    opacity: 0.1;

    object-fit: cover;
}

.box {
    padding: 30px;
    border-radius: 30px;
    margin: 20px;
}

.box-large {
    width: 70%;
    border-radius: 30px;
    padding: 30px;
    margin: 20px;
}

h1 {
    font-size: 50px;
    margin-left: 70px;
}

h3 {
    text-align: center;
    font-size: 22px;
}

.info-area {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 40px;
    margin-right: 40px;

    justify-self: center;
    display: grid;
    grid-template-columns: 60% calc(40% - 30px);

    gap: 30px;
    font-size: 20px;    
}

.info-area p {
    padding: 10px;
}

.opleiding-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 30px;
}

.underline {
    color: black;
    text-decoration: underline;
}

.snelle-info {
    display: grid;
    grid-template-columns: 1fr 8fr;
    justify-content: space-evenly;
    border: 5px solid grey;
    gap: 30px;
    padding: 30px;
    font-size: 20px;
    border-radius: 30px;
}


.snelle-info img{
    width: 32px;
}

.vakken-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 5px solid grey;
    padding: 30px;
    gap: 30px;
    font-size: 20px;
    border-radius: 30px;
}

.sector-link {
    color: black;
}

.snelle-info-link {
  color: rgb(92, 91, 91);
}

.small-text {
    font-size: 15px;
    color: rgb(92, 91, 91);
}

.bedrijven {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.bedrijven div {
    margin-top: 30px;
    text-align: center;
    align-content: center;
    margin-bottom: 30px;
}

.bedrijven img {
    width: 300px;
    object-fit: fill;
}

#footer-main {
    background-color:#98d3ea;
    height: 135px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 25px;
    text-align: center;
    align-items: center;
}

#footer-main img{
    width: 32px;

    justify-self: center;
}

#footer-main a {
    text-decoration: none;
}

#footer-main a:hover {
    text-decoration: underline;
}
 
#footer-info {
    background-color:#3f2e56;
    height: 450px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
}

#footer-info a {
    text-decoration: none;
    font-size: 17px;
    color: rgb(221, 217, 217);
}

#footer-info a:hover {
    text-decoration: underline;
}

#footer-info div {
  color: rgb(221, 217, 217);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
 
#footer-end {
    background-color:#f0f0f7;
    height: 65px;
    width: 100%;
}
 

 
.footer-info-inner {
    display: flex;
    flex-direction: column;
    text-align: center;
}

