body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.bg-light {
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    border-radius: 10px;
}

.bg {
    background-color: hsl(0, 0%, 90%);
}

.bg-dark {
    background-color: hsl(0, 0%, 80%);
}

.text {
    color: hsl(0, 0%, 10%);
}

.text-muted {
    color: hsl(0, 0%, 25%);
}

header{
    height: 90px;
    box-shadow: 0px 4px 0px hsl(0, 0%, 100%);

    display: grid;

    grid-template-columns: 1fr 3fr 1fr;
}

#header-links {
    display: flex;
    justify-content: center;
    align-content: start;

    padding: 0;

    gap: 40px;

    list-style-type: none;
}

header button {
    display: flex;

    margin: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    width: 100px;
    border: none;
    background-color: hsl(0, 0%, 90%);
    cursor: pointer;

    align-items: center;
    justify-content: center;
    justify-self: flex-end;
}

.box {
    padding: 30px;
    border-radius: 30px;
    margin: 20px;
}