body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.bg-light {
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    border-radius: 10px;
}

.bg {
    background-color: hsl(0, 0%, 90%);
}

.bg-dark {
    background-color: hsl(0, 0%, 80%);
}

.text {
    color: hsl(0, 0%, 10%);
}

.text-white {
    color: hsl(0, 0%, 100%);
}

.text-muted {
    color: hsl(0, 0%, 25%);
}

.text-bold {
    font-weight: bolder;
}

header {
    height: 46px;
    background-color: hsl(266, 30%, 26%);

    display: grid;

    grid-template-columns: 1fr 3fr 1fr;
    box-shadow: 0px 5px 0px hsl(0, 0%, 100%);
    margin-bottom: 5px;
}

header>*>* {
    margin: 0;
}

header img {
    height: 30px;
    align-self: center;
    margin-left: 20px;
}


#header-links {
    display: flex;
    justify-content: center;
    align-content: start;

    padding: 0;

    height: 46px;

    gap: 40px;

    list-style-type: none;
}

#header-links a{
    text-decoration: none;
}

header button {
    display: flex;

    height: 70%;

    padding: 10px 20px;
    border-radius: 10px;
    width: 100px;
    border: none;
    background-color: hsl(0, 0%, 90%);
    cursor: pointer;

    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    align-self: center;
}

#front-image{
    height: 800px;
    width: 100%;
    margin-bottom: 80px;

    object-fit: cover;
}

.box {
    padding: 30px;
    border-radius: 30px;
    margin: 20px;
}

.box-large {
    width: 70%;
    border-radius: 30px;
    padding: 30px;
    margin: 20px;
}

h1 {
    font-size: 50px;
    margin-left: 70px;
}

h3 {
    text-align: center;
    font-size: 22px;
}

.info-area {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 40px;
    justify-self: center;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    font-size: 20px;    
}

.info-area p {
    padding: 10px;
}


.opleiding-image {
    width: 900px;
    height: 400px;
    object-fit: cover;
}

.underline {
    text-decoration: underline;
}

.snelle-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 5px solid grey;
    padding: 30px;
    gap: 30px;
    font-size: 20px;
    border-radius: 30px;
}

.small-text {
    font-size: 15px;
    color: rgb(92, 91, 91);
}

#footer-main {
    background-color:#98d3ea;
    height: 135px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 25px;
    text-align: center;
    align-items: center;
}
 
#footer-info {
    background-color:#3f2e56;
    height: 450px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
}
 
#footer-end {
    background-color:#f0f0f7;
    height: 65px;
    width: 100%;
}
 
#footer-info div {
  color: rgb(221, 217, 217);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
 
.footer-info-inner {
    display: flex;
    flex-direction: column;
    text-align: center;
}